@import './_colors.scss';
@import './mixin';
*{
    font-family: 'Lora', serif;
    color:$black;
    scroll-behavior: smooth;
}
body{
    width:100%;
    overflow-x:hidden;
}
input::-webkit-input-placeholder {
    font-size: 14px;
    }
.mycontainer{
    margin:0 100px;
}
.pad-top{
    padding-top:75px;
}
.pad-bot{
    padding-bottom:75px;
}
.img-container{
    overflow: hidden;
}
.gutter-bot-md{
    margin-bottom: 30px;
}
.btn{
   padding: 12px 30px;
   background: $secondaryColor;
   color:$light;
   border-radius: 10px;
   font-weight:700; 
}
a:hover{
    text-decoration: none;
    color:$primaryColor;                
}
.heading-lg{ 
    font-weight: 400;
    font-size:24px;
}
.heading-md{
    font-weight: 500;
    font-size:20px;
}
p{
    font-size:16px;
    font-weight: 400;
    line-height:30px;
}
li{
    list-style:none;
}
.line{
    height:3px;
    width:30px;
    margin-top:.5rem;
    background: $secondaryColor;
    border-radius:2px;
}
.line-center{
    height:3px;
    width:30px;
    margin-top:.5rem;
    background: $secondaryColor;
    border-radius:2px;
    margin:auto;
}
.small-text{
    color:$secondaryColor;
    font-size:16px;
    font-weight: 700;
}


//header section

header{
        &:before{
            @include bg-design;
            transform: rotate(45deg);
            right:-100px;
            top:-130px;
        }
        nav{
            padding:0 !important;
            .logo{
                padding-top:5px;
            }
            .navbar-nav{
                .nav-item{
                    padding:15px 10px;
                    .nav-link{
                        font-weight: 500;
                        color:$black;
                        margin-top: 5px;
                       
                    }
                }
            }
        }
    
}

//content section
.content-section{
    .profile{
        background: $primaryColor;
        max-height:750px;
        width:100%;
        padding:50px 0;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        .img-container{
                height:210px;
                width:210px;
                border-radius:50%;
                margin:auto;
                img{
                    max-height:210px;
                    width: 100%;
                    object-fit: cover;
                }
        }
        p{
            padding-top:5px;
            font-size:16px;
        }
    }
    .contents{
        padding-left:30px;
        .text-container{ 
            .big-text{
                font-size:30px;
                font-weight: 500;
                padding-bottom:30px;
            }            
        }
        .social-media{
            padding-top:30px;
            .social-media-icons{
                display: flex;
                li{
                    margin-right:10px;
                    height:40px;
                    width: 40px;
                    border-radius:50%;
                    border:2px solid $secondaryColor;
                    position: relative;
                    i{
                        font-size:18px;
                        color:$black;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
    }
    hr{
        margin-top:50px;
        margin-bottom:0;
    }
    .info{
        .info-list{
            display:flex;
            flex-wrap: wrap;
            padding:0;
            li{
                padding-right:40px;
                // width:100%;
                i{
                    color:$secondaryColor;
                    font-size:18px;
                }
                span{
                    padding-left:10px;
                }
            }

        }
    }
    .project-details{
        margin-top:-33%;
        border:1px solid #c4c4c4;
        background: white;
        border-radius:10px;
        padding:10px 0;
        .project-history{
            display: flex;
            align-items:center;

            .big-number{
                padding-left:50px;
                font-size:60px;
                color:$primaryColor;
                line-height: 80px;
            }
            p{
                margin:15px;
            }
        }
    }
}

//services section
.services{
    background: $background;
    .service-container{
        border:2px solid rgba(128,128,128,0.2);
        border-radius:10px;
        .img-container{
            width:240px;
            height: 150px;
            margin:0 auto;
            margin-top:50px;
        }
    }
    .skills{
        display:flex;
        flex-direction: column;
        .skill-list{
            padding:0 0 10px 30px;
            i{
                color:$secondaryColor;
                font-size:18px;
            }
            span{
                margin-left:10px;
            }
        }
    }
}

// Experience section 
.experience-section{
    position: relative;
    &:before{
        @include bg-design;
        left: 1159px;
        top:-70px;
        z-index: -1;
        transform: rotate(-35.49deg);
    }
    .heading-experience{
        padding-bottom:10px;
    }
    .experience-wrapper{
        display: flex;   
        .img-container{
            min-height:50px;
            min-width:50px;
            img{
                height:50px;
                width:50px;
            }
        }
        .work-experience{
            margin-left:10px;
            .experience-title{
                .date{
                    color:#808080;
                }
                span{
                    margin:0;
                }
            }
            
        }

    }
    .cover-img-wrapper{  
        position:relative;
        .img-centered{
            img{
                max-height:310px;
                max-width:475px;
                display: block;
                margin:50px auto;
            }
        }
        .img-floating-left{
            img{
                position:absolute;
            }
            .img-top-left{
                top:-20px;
                left:150px;
            }
            .img-bottom-left{
                bottom:30px;
            }
        }
        .img-floating-right{
            img{
                position:absolute;
                height:150px;
                width:500px;
            }
            .img-top-right{
                top:-50px;
                right:10px;
            }
            .img-bottom-right{
                bottom:30px;
                right:0;
            }
        }
    }
}

// project section
.project-section{
    position: relative;
    &:before{
        @include bg-design;
        left: 1159px;
        top:-70px;
        z-index: -1;
        transform: rotate(-35.49deg);
    }
    .project-img{
        padding:10px 6px;
        .img-container{
            height:350px;
            border:5px solid $primaryColor;
            border-radius: 15px;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }
    .project-details{
        height:100%;
        margin:auto;
        h1{
            margin-bottom:30px;
        }
    }
}

.footer-section{
    background: $background;
    .review-section{ 
        .client-img{
            position:relative;
                .quote{
                    height:70px;
                    width:70px;
                    border-radius: 5px;
                    background: $primaryColor;
                    position: absolute;
                    bottom:-20px;
                    right:30px;
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    i{
                        
                        font-size: 30px;
                    }
                }
        }           
        .img-container{
            height:320px;
            border-radius: 15px;
            position:relative;
            
            img{
                width:100%;
                height:100%;
                object-fit:cover;
           }
        }
    }
    .review-overview{
        margin-top:20px;
    }
    .quote-text{
        quotes:""" """;
        color:$secondaryColor;
        font-weight: 500;
    }
    
    .contact-form{
        .form-group{
            label{
                font-weight: 500;
            }
            input,textarea{
                background: $primaryColor;
                border:none;
            }
            input{
                height:40px;
            }

        }
    }
    .copyright{
        border-top:1px solid rgba(0,0,0,0.5);
        margin-top:30px;
        padding:10px;
        .cp-text{
            font-size:14px;
        }
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }




//Responsive design section
$breakpoint-large: 991px;
@media (max-width: $breakpoint-large) {
    header nav .navbar-nav .nav-item{
        padding:0;
    }
    header,.project-section,.experience-section{
        &:before{
            display: none;
        }
    }
   .content-section{
    .project-details{
        margin:0;
    }
   }
   .content-section .info .info-list li{
    padding-top:10px;
}
   .ord-1{
       order:-1;
   }
    .experience-section{
        .cover-img-wrapper{
            display: none;
        }
    }     
}

$breakpoint-medium: 767px;
@media (max-width: $breakpoint-medium) {
   .mycontainer{
    margin:0 30px;
   }
   .al-center{
    text-align:center;
   }
   .pad-top{
       padding-top:40px;
   }
   .pad-bot{
       padding-bottom:40px;
   }
   .content-section hr{
       margin-top:30px;
   }
   .content-section .contents{padding:15px;}
   .content-section .info .info-list li{
       padding-top:10px;
   }
   .services .service-container{
       margin-top:15px;
   }
   .experience-wrapper{margin-top:15px;}
   .experience-section .experience-wrapper .work-experience .experience-title .date{
       float:none !important;
   }
   .contact-section{
       margin-top:40px;
   }
}
$breakpoint-small: 575px;
@media (max-width: $breakpoint-small) {
    .services .skills{
        align-items:flex-start;
    }
}